In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(
{
"A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
"B": ["one", "one", "two", "three", "two", "two", "one", "three"],
"C": np.random.randn(8),
"D": np.random.randn(8),
}
)

In [ ]:
for name, group in df.groupby(['A', 'B']):
    print(name)
    print(group)

In [ ]:
for name, group in df.groupby(['A']):
    print(name)
    print(group)

In [ ]:
dff = pd.DataFrame({"A": np.arange(8), "B": list("aabbbbcc")})
dff

In [ ]:
dff.groupby("B").filter(lambda x: len(x) > 2)

In [ ]:
df = pd.DataFrame({
"A": ["a", "a", "b"],
"B": [1, 2, 3],
"C": [5, 6, 7]
})
def show_arg(x):
    print(x)
    return x / x.sum() # 으로 바꾸어 보고 결과를 비교해 보자!!

In [ ]:
print("include_groups=True")
# include_groups=True (기본값): 그룹 컬럼(A)이 함수에 전달되는 데이터프레임에 포함됨
result1 = df.groupby("A").apply(show_arg)
print(result1)

In [ ]:
# include_groups=False: 그룹 컬럼(A)이 함수에 전달되는 데이터프레임에서 제외됨
print("\ninclude_groups=False")
result2 = df.groupby("A").apply(show_arg, include_groups=False)
print(result2)

In [ ]:
print("include_groups=True")
# include_groups=True (기본값): 그룹 컬럼(A)이 함수에 전달되는 데이터프레임에 포함됨
result1 = df.groupby("A").apply(show_arg)
print(result1)

# include_groups=False: 그룹 컬럼(A)이 함수에 전달되는 데이터프레임에서 제외됨
print("\ninclude_groups=False")
result2 = df.groupby("A").apply(show_arg, include_groups=False)
print(result2)